body{
    background-color: rgb(4, 2, 2);
    color: rgb(255, 255, 255);
    
}

.jaison{
    color: rgb(170, 170, 203);
    margin-left: 20px;
    margin-top: ;
    
}

.JaisonPradeep{
    color: antiquewhite;
}

.DJP{
    color: antiquewhite;
}

.Hello{
    color: antiquewhite;
}

.Hoi{
    color: antiquewhite;
}

.Tamil{
    color: antiquewhite;
}

.Jaiii{
    color: antiquewhite;
}

